<?js
var data = obj || {};
?>

<?js if (data.type && data.type.names) {?>
<dl>
    <dt class="param-type"><?js= this.partial('type.tmpl', data.type.names) + ':' ?></dt>
    <dd class="param-desc">
        <?js= data.description ? description : '' ?>
    </dd>
</dl>
<?js } ?>